{{ partial "head.html" .}}
{{ partial "nav.html" .}}

<style>
    main .icons {
        color: {{ .Site.Params.Team.iconsColor }};
    }
</style>

<main role="main">
    {{with .Site.GetPage "/team"}}
        {{ $slider := newScratch }}
        {{ $slider.Set "alreadyActive" false }}
        {{ $slides := sort (where .Pages "Params.tags" "intersect" (slice "slider")) ".Params.startDate" }}
        <div id="carousel-team" class="carousel slide" data-ride="carousel" data-interval="{{.Site.Params.Front.carouselInterval}}">
            <div class="carousel-inner">
                {{range $slides}}
                    {{if in .Params.tags "slider"}}
                        {{ $slider.Set "class" "" }}
                        {{ if and (.Params.first) (not ($slider.Get "alreadyActive")) }}
                            {{ $slider.Set "class" "active" }}
                            {{ $slider.Set "alreadyActive" true }}
                        {{ end }}
                        <div class="carousel-item {{ $slider.Get "class" }}">
                            <img class="d-block w-100" src="{{.Params.image}}" alt="{{.Params.imageAlt}}">
                            <div class="carousel-caption {{.Params.align}} ">
                                <div class="rect float-right"><h1>{{.Params.title}}</h1></div>
                            </div>
                        </div>
                    {{end}}
                {{end}}
            </div>
            {{ if gt (len $slides) 1 }}
                <a class="carousel-control-prev" href="#carousel-team" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-team" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            {{end}}
        </div>
    {{end}}

    <div class="container">
        {{ range .Pages }}
            {{ if in .Params.tags "pi" }}
                <div class="row">  
                    <div class="col-md-5 text-center">
                        <img src="{{ .Params.image}}" class="rounded-circle" alt="{{.Params.name}}" width="300" height="300">
                    </div>
                    <div class="col-md-7">
                        <h2 class="font-bold capitalize">{{.Params.name}}</h2>
                        <p class="position-team" style="font-size: medium">{{.Params.position}}</p>
                        <p>{{.Content}}</p>
                        <p>
                            {{if .Params.scholar}}
                            <a href="{{.Params.scholar}}"><i class="icons fa fa-graduation-cap fa-lg"></i></a>
                            {{end}}
                            {{if .Params.twitter}}
                            <a href="{{.Params.twitter}}"><i class="icons fab fa-twitter fa-lg"></i></a>
                            {{end}}
                            {{if .Params.github}}
                            <a href="{{.Params.github}}"><i class="icons fab fa-github fa-lg"></i></a>
                            {{end}}
                            {{if .Params.linkedin}}
                            <a href="{{.Params.linkedin}}"><i class="icons fab fa-linkedin fa-lg"></i></a>
                            {{end}}
                            {{if .Params.orcid}}
                            <a href="{{.Params.orcid}}"><i class="icons fab fa-orcid fa-lg"></i></a>
                            {{end}}
                        </p>
                    </div>
                </div>
            {{end}}
        {{end}}

        <hr>

        <div class="row">
            <div class="col-sm col-md-6 offset-md-3">
                <h2 class="text-center font-bold">TEAM</h2>
                {{if .Site.Params.Team.members}}<p class="text-center semi-bold linespace">{{ .Site.Params.Team.members }}</p>{{end}}
            </div>
        </div>
        <div class="row">
            {{ range .Pages }}
                {{ if in .Params.tags "team" }}
                    <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                        <div class="text-center">
                            <img src="{{.Params.image}}" class="rounded-circle teamImage" alt="{{.Params.name}}" width="200" height="200">
                            <h5 class="font-bold">{{.Params.name}}</h5>
                            <p class="position-team">{{.Params.position}}</p>
                            <p>
                                {{if .Params.scholar}}
                                    <a href="{{.Params.scholar}}"><i class="icons fa fa-graduation-cap fa-lg"></i></a>
                                {{end}}
                                {{if .Params.twitter}}
                                    <a href="{{.Params.twitter}}"><i class="icons fab fa-twitter fa-lg"></i></a>
                                {{end}}
                                {{if .Params.github}}
                                    <a href="{{.Params.github}}"><i class="icons fab fa-github fa-lg"></i></a>
                                {{end}}
                                {{if .Params.linkedin}}
                                    <a href="{{.Params.linkedin}}"><i class="icons fab fa-linkedin fa-lg"></i></a>
                                {{end}}
                                {{if .Params.orcid}}
                                    <a href="{{.Params.orcid}}"><i class="icons fab fa-orcid fa-lg"></i></a>
                                {{end}}
                            </p>
                        </div>
                    </div>
                {{end}}
            {{end}}
        </div>

        <hr>

        {{ with .Site.GetPage "/team" }}
            {{range .Pages}}
                {{if in .Params.tags "feature"}}
                    <div class="row featurette">
                        <div class="col-md-7">
                            <h2 class="featurette-heading margin-paragraph-left">{{.Params.title}}</h2>
                            <p>{{.Params.subtitle}}</p>
                            <p class="margin-paragraph-left">{{.Content}} </p>
                        </div>
                        <div class="col-md-5">
                            <img class="featurette-image img-fluid mx-auto" src=" {{.Params.image}} " alt="{{.Params.title}}">
                        </div>
                    </div>
                {{end}}
            {{end}}
        {{end}}

        <hr>

        <div class="row">
            <div class="col-sm">
                <h2 class="text-center font-bold">Collaborators</h2>
                {{if .Site.Params.Team.collaborators}}
                    <p class="text-center semi-bold linespace">{{ .Site.Params.Team.collaborators }}</p>
                {{end}}
            </div>
        </div>
        <div class="row">
            {{ range .Pages }}
                {{ if in .Params.tags "collaborator" }}
                    <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                        <div class="text-center">
                            <img src="{{.Params.image}}" class="rounded-circle" alt="{{.Params.name}}" width="140" height="140">
                            <h5 class="font-bold">{{.Params.name}}</h5>
                            <p class="position-team">{{.Params.position}}</p>
                            <p>
                                {{if .Params.scholar}}
                                    <a href="{{.Params.scholar}}"><i class="icons fa fa-graduation-cap fa-lg"></i></a>
                                {{end}}
                                {{if .Params.twitter}}
                                    <a href="{{.Params.twitter}}"><i class="icons fab fa-twitter fa-lg"></i></a>
                                {{end}}
                                {{if .Params.github}}
                                    <a href="{{.Params.github}}"><i class="icons fab fa-github fa-lg"></i></a>
                                {{end}}
                                {{if .Params.linkedin}}
                                    <a href="{{.Params.linkedin}}"><i class="icons fab fa-linkedin fa-lg"></i></a>
                                {{end}}
                                {{if .Params.orcid}}
                                    <a href="{{.Params.orcid}}"><i class="icons fab fa-orcid fa-lg"></i></a>
                                {{end}}
                            </p>
                        </div>
                    </div>
                {{end}}
            {{end}}
        </div>

        <hr>

        <div class="row">
            <div class="col-sm">
                <h2 class="text-center font-bold">Alumni</h2>
                {{if .Site.Params.Team.alumni}}
                    <p class="text-center semi-bold linespace">{{ .Site.Params.Team.alumni }}</p>
                {{end}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <ul class="timeline">
                    {{ range .Pages  }}
                        {{if in .Params.tags "alumni"}}
                            <li dt-date="{{.Params.startDate}}" data-event-date="{{.Params.startDate}}">
                                <div class="event_date blue-text">
                                    {{.Params.startDate}}
                                </div>
                                <div class="text-center">
                                    <img src="{{.Params.image}}" class="rounded-circle teamImage" alt="{{.Params.name}}" width="140" height="140">
                                    <h5 class="font-bold">{{.Params.name}}</h5>
                                    <p class="position-team">{{.Params.position}}</p>
                                    <p>
                                        {{if .Params.scholar}}
                                            <a href="{{.Params.scholar}}"><i class="icons fa fa-graduation-cap fa-lg"></i></a>
                                        {{end}}
                                        {{if .Params.twitter}}
                                            <a href="{{.Params.twitter}}"><i class="icons fab fa-twitter fa-lg"></i></a>
                                        {{end}}
                                        {{if .Params.github}}
                                            <a href="{{.Params.github}}"><i class="icons fab fa-github fa-lg"></i></a>
                                        {{end}}
                                        {{if .Params.linkedin}}
                                            <a href="{{.Params.linkedin}}"><i class="icons fab fa-linkedin fa-lg"></i></a>
                                        {{end}}
                                        {{if .Params.orcid}}
                                            <a href="{{.Params.orcid}}"><i class="icons fab fa-orcid fa-lg"></i></a>
                                        {{end}}
                                    </p>
                                </div>
                            </li>
                        {{end}}
                    {{end}}
                </ul>
            </div>
        </div>
    </div>
</main>

{{ partial "footer.html" .}}