<!doctype html>
{{ partial "head.html" .}}
<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <a class="navbar-brand" href="#"><img id="logo" class="d-inline-block mr-1" alt="Logo" src="{{ .Site.BaseURL }}img/logo.svg"> <span class="logo-name">PESTILLI <span class="orange-text">LAB</span></span></a>
        <ul class="nav justify-content-end nav-pills">
           <li class="nav-item">
             <a class="nav-link" href="{{ .Site.BaseURL }}">HOME</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="{{ .Site.BaseURL }}research">RESEARCH</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="{{ .Site.BaseURL }}publications">PUBLICATIONS</a>
           </li>
           <li class="nav-item">
               <a class="nav-link active" href="{{ .Site.BaseURL }}team">PEOPLE</a>
           </li>
         </ul>
   </nav>   
</body>
 