{{range .Pages}}
{{if in .Params.tags "feature"}}
<div style="background: {{.Params.backgroundColor}}">
<div class="container">
  <br>
  <br>
{{ if eq .Params.align "right"}}
<div class="row featurette" data-aos="fade-left" style="flex-direction: row-reverse">
<div class="col-md-7 order-last">
  <h2 class="featurette-heading margin-paragraph-left" style="color: {{.Params.titleColor}}">{{.Params.title}}</h2>
  <p style="color: {{.Params.subtitleColor}};font-weight: 600;">{{.Params.subtitle}}</p>
  <p style="color: {{.Params.textColor}}; font-weight: 600;">{{.Content}} </p>
</div>
<div class="col-md-5">
    {{if isset .Params "image"}}
        <img class="featurette-image img-fluid mx-auto" src=" {{.Params.image}} " alt="Generic placeholder image">
    {{else}}
        <iframe class="featurette-video" height="auto" width ="auto" src="{{.Params.youtubeUrl}}"></iframe>
    {{end}}
</div>
</div>
</div>
</div>
{{else}}
<div class="row featurette" data-aos="fade-right">
<div class="col-md-5">
{{if isset .Params "image"}}
      <img class="featurette-image img-fluid mx-auto" src=" {{.Params.image}} " alt="Generic placeholder image">
  {{else}}
      <iframe class="featurette-video" height="auto" width ="auto" src="{{.Params.youtubeUrl}}"></iframe>
  {{end}}

</div>
<div class="col-md-7">
<h2 class="featurette-heading margin-paragraph-left" style="color: {{.Params.titleColor}}">{{.Params.title}}</h2>
<p style="color: {{.Params.subtitleColor}};font-weight: 600;">{{.Params.subtitle}}</p>
<p style="color: {{.Params.textColor}}; font-weight: 600;">{{.Content}} </p>
</div>
</div>
</div>
</div>
{{end}}
  {{end}}
{{end}}
