{{ partial "head.html" . }}
{{ partial "nav.html" .}}

<main role="main">
    {{with .Site.GetPage "/front"}}
        {{ $slider := newScratch }}
        {{ $slider.Set "alreadyActive" false }}
        <div id="carousel-front" class="carousel slide" data-ride="carousel" data-interval="{{.Site.Params.Front.carouselInterval}}">
            <div class="carousel-inner">
            {{range sort .Pages "File.Path"}}
                {{if in .Params.tags "slider"}}
                    {{ $slider.Set "class" "" }}
                    {{ if and (.Params.first) (not ($slider.Get "alreadyActive")) }}
                        {{ $slider.Set "class" "active" }}
                        {{ $slider.Set "alreadyActive" true }}
                    {{ end }}
                    <div class="carousel-item {{ $slider.Get "class" }}">
                        <img class="d-block w-100" src="{{.Params.image}}" alt="{{.Params.imageAlt}}">
                        <div class="carousel-caption {{.Params.align}} ">
                            <div class="rect float-right"><h1>{{.Params.title}}</h1></div>
                        </div>
                    </div>
                {{end}}
            {{end}}
            </div>
        </div>
    {{end}}

    {{with .Site.GetPage "/front"}}
        <div class="container topics">
            <div class="row">
            {{range sort .Pages "File.Path"}}
                {{if in .Params.tags "topic"}}
                    <div class="col-lg-4">
                        <img src="{{.Params.image}}" alt="{{.Params.Title}}" width="140" height="140">
                        <h2  class="font-bold">{{.Params.Title}}</h2>
                        <p>{{.Params.description}}</p>
                        <a class="btn shadow-sm btn-secondary" href="{{.Params.url}}" role="button">Know More</a>
                    </div>
                {{ end }}
            {{end}}
            </div>
        </div>
    {{end}}

    {{ with .Site.GetPage "/front" }}
        {{range sort .Pages "File.Path"}}
            {{if in .Params.tags "feature"}}
            <div class="feature feature-{{ .Params.id }}">
                <div class="container">
                    <div class="row featurette">
                        <div class="col-md-7 offset-md-1">
                            <h2 class="featurette-heading margin-paragraph-left" style="color: {{.Params.titleColor}}">{{.Params.title}}</h2>
                            <blockquote class="blockquote" style="color: {{.Params.subtitleColor}}">{{.Params.subtitle}}</blockquote>
                            <div style="color: {{.Params.textColor}} !important">{{.Content}}</div>
                        </div>
                        {{ if .Params.image }}
                            <div class="col-md-5">
                                <img class="featurette-image img-fluid mx-auto" src="{{.Params.image}}" alt="{{.Params.title}}">
                            </div>
                        {{ end }}
                    </div>
                </div>
            </div>
            {{end}}
        {{end}}
    {{end}}
</main>

{{ partial "footer.html" .}}