{{ partial "head.html" .}}
{{ partial "nav.html" .}}

<style>

</style>
<main role="main">
    {{with .Site.GetPage "/research"}}
        {{ $slider := newScratch }}
        {{ $slider.Set "alreadyActive" false }}
        <div id="carousel-research" class="carousel slide" data-ride="carousel" data-interval="{{.Site.Params.Front.carouselInterval}}">
            <div class="carousel-inner">
            {{range .Pages}}
                {{if in .Params.tags "slider"}}
                    {{ $slider.Set "class" "" }}
                    {{ if and (.Params.first) (not ($slider.Get "alreadyActive")) }}
                        {{ $slider.Set "class" "active" }}
                        {{ $slider.Set "alreadyActive" true }}
                    {{ end }}
                    <div class="carousel-item {{ $slider.Get "class" }}">
                        <img class="d-block w-100" src="{{.Params.image}}" alt="{{.Params.imageAlt}}">
                        <div class="carousel-caption {{.Params.align}} ">
                            <div class="rect float-right"><h1>{{.Params.title}}</h1></div>
                        </div>
                    </div>
                {{end}}
            {{end}}
            </div>
        </div>
    {{end}}

    {{ with .Site.GetPage "/research" }}
        {{range where .Pages "Params.tags" "intersect" (slice "feature")}}
            <div class="feature" {{if .Params.backgroundColor}}style="background: {{.Params.backgroundColor}}"{{end}}>
                <div class="container">
                    <div class="row featurette">
                        <div class="col-md-7">
                            <h2 class="featurette-heading margin-paragraph-left" {{if .Params.titleColor}}style="color: {{.Params.titleColor}}"{{end}}>
                                {{.Params.title}}
                            </h2>
                            <p {{if .Params.subtitleColor}}style="color: {{.Params.subtitleColor}}"{{end}}>{{.Params.subtitle}}</p>
                            <p {{if .Params.textColor}}style="color: {{.Params.textColor}}"{{end}}>{{.Content}} </p>
                        </div>
                        <div class="col-md-5">
                            <img class="featurette-image img-fluid mx-auto" src=" {{.Params.image}} "
                                alt="{{.Params.title}}">
                        </div>
                    </div>
                </div>
            </div>
        {{end}}
    {{end}}
    
    {{ with .Site.GetPage "/research" }}
    {{ $grants := sort (where .Pages "Params.tags" "intersect" (slice "grant")) ".Params.startDate" }}
    {{ if len $grants }}
    <div>
        <h1 class="text-center">Funded Projects</h1>
        <ul class="timeline">
            {{ range $grants }}
                <li data-date="{{.Params.startDate}}" data-year="{{index (split .Params.startDate "-") 0}}">
                    <div>{{.Params.startDate}}</div>
                    <h2>{{.Title}}</h2>
                    <p class="researchers">{{.Params.piFirstName}} {{.Params.piLastName}} {{if .Params.coPDPI}} , {{delimit .Params.coPDPI ", "}} {{ end }}</p>
                    <p class="funding-info">
                        {{if eq .Params.agency "NSF"}}
                            <img src="{{ .Site.BaseURL }}img/nsf.png">
                        {{else}}
                            <span>{{.Params.agency}}</span>
                        {{end}}
                        {{if .Params.external_url}}
                            <a href="{{.Params.external_url}}" class="btn btn-gray btn-sm">More</a>
                        {{end}}
                    </p>
                </li>
            {{end}}
        </ul>
        {{end}}
    </div>
    {{end}}
</main>

{{ partial "footer.html" .}}
