<!doctype html>
{{ partial "head.html" .}}
  <body onload="ready()">
{{ partial "nav.html" .}}
<main role="main">
  {{ with .Site.GetPage "/research" }}
    {{ partial "banner.html" .}}
  {{end}}

  {{ with .Site.GetPage "/research" }}
    {{ partial "featurette.html" .}}
  {{end}}

    <br>
    {{ with .Site.GetPage "/research" }}
          {{range .Pages}}
          {{if in .Params.tags "videoFullwidth"}}
    <div style="background: {{.Params.backgroundColor}}">
        <div class="container">
            <div class="row text-center mb-5">
                <div class="col-lg-12 mx-auto">
                    <h2 class="featurette-heading" style="color: {{.Params.titleColor}}">{{.Params.title}}</h2>
                    <p class="margin-paragraph-left" style="color: {{.Params.subtitleColor}}">{{.Params.subtitle}}</p>
                    <div class="videoWrapper">    
                        <iframe height="{{.Params.height}}" width ="100%" src="{{.Params.youtubeUrl}}"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
            {{end}}
          {{end}}
    {{end}}
<hr>
<div class="container">
      <div class="row text-center mb-5">
        <div class="col-lg-8 mx-auto">
            <h1>Funded Projects</h1>
            </div>
        </div><!-- End -->
        <div class="row">
            <div class="col-lg-12 mx-auto">
              <ul class="timeline" id = "_awards" data-aos="fade-up" style="height:100vh; overflow-y: scroll; overflow-x: hidden;">
                {{ range .Pages  }}
                {{if isset .Params "agency"}}
                <li class="timeline-item bg-white rounded ml-3 p-4" dt-date = {{.Params.startDate}} data-event-date= "{{.Params.startDate}} ">
                  <div class="event_date blue-text">
                    {{.Params.startDate}}
                  </div>
                  <h4 style="margin-bottom:0.25rem ">{{.Title}}</h2>
                  <p style="margin-bottom:0.25rem">{{.Params.piFirstName}} {{.Params.piLastName}} {{if .Params.coPDPI}} , {{delimit .Params.coPDPI ", "}} {{ end }}</p>
                  {{if .Params.external_url}}
                  <a href="{{.Params.external_url}}" class="btn btn-gray">More</a>
                </li>
                  {{end}}
                  {{end}}
                  {{end}}
              </ul>
        </div>

        </div>
      <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->

    {{ with .Site.GetPage "/research" }}
    {{range .Pages}}
        {{if in .Params.tags "map"}}
            {{ partial "map.html" . }}
        {{end}}
    {{end}}
    {{end}}


    </main>

    {{ partial "footer.html" .}}
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/parser.js"></script>
    <script src='{{ .Site.BaseURL }}js/lab.js'> </script>
    <script>
      
      var ready = (callback) => {
  if (document.readyState != "loading") callback();
  else document.addEventListener("DOMContentLoaded", callback);
}
      ready(() => { 
  /* Do things after DOM has fully loaded */ 


    var container = document.querySelector(".timeline");;
    var items = document.querySelectorAll('.timeline-item');
    // https://stackoverflow.com/questions/21032481/change-the-style-of-before-and-after-pseudo-elements
    let heightTimelineBar = document.getElementById('_awards').scrollHeight;
    container.style.setProperty("--barHeight", heightTimelineBar+"px");
    
    items.forEach(
      item=> {
        let BCDATE = item.getAttribute("dt-date");
        var standardDate = new Date(BCDATE).getTime();
        item.setAttribute("data-event-date", standardDate);
       }
    )

    var ab = 0;
    Array.from(items).sort( function(a,b){
        a = parseFloat(a.getAttribute("data-event-date"));
        b = parseFloat(b.getAttribute("data-event-date"));
        return a>b ? -1 : a<b ? 1 : 0;
    }).forEach(list =>{
      if(ab %2 == 0){
        ab+=1;
        list.classList.add("right");
        container.append(list);
      }else{
        ab+=1;
        list.classList.add("left");
        container.append(list);
      }
    });

});

    </script>
    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>