{{ partial "head.html" .}}
{{ partial "nav.html" .}}

<main role="main">

    {{with .Site.GetPage "/publications"}}
        {{ $slider := newScratch }}
        {{ $slider.Set "alreadyActive" false }}
        <div id="carousel-publications" class="carousel slide" data-ride="carousel" data-interval="{{.Site.Params.Front.carouselInterval}}">
            <div class="carousel-inner">
                {{range .Pages}}
                    {{if in .Params.tags "slider"}}
                        {{ $slider.Set "class" "" }}
                        {{ if and (.Params.first) (not ($slider.Get "alreadyActive")) }}
                            {{ $slider.Set "class" "active" }}
                            {{ $slider.Set "alreadyActive" true }}
                        {{ end }}
                        <div class="carousel-item {{ $slider.Get "class" }}">
                            <img class="d-block w-100" src="{{.Params.image}}" alt="{{.Params.imageAlt}}">
                            <div class="carousel-caption {{.Params.align}} ">
                                <div class="rect float-right"><h1>{{.Params.title}}</h1></div>
                            </div>
                        </div>
                    {{end}}
                {{end}}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    {{end}}
  
    <h1 class="text-center">Publications</h1>
    <ul class="timeline">
        <li>
            <p>18 August, 2019</p>
            <h2>Attention enhances contrast sensitivity at cued and impairs it at uncued locations</h2>
            <p>F Pestilli, M Carrasco</p>
        </li>
        <li>
            <p>18 August, 2019</p>
            <h2>Attention enhances contrast sensitivity at cued and impairs it at uncued locations</h2>
            <p>F Pestilli, M Carrasco</p>
        </li>
        <li>
            <p>18 August, 2019</p>
            <h2>Attention enhances contrast sensitivity at cued and impairs it at uncued locations</h2>
            <p>F Pestilli, M Carrasco</p>
        </li>
        <li>
            <p>18 August, 2019</p>
            <h2>Attention enhances contrast sensitivity at cued and impairs it at uncued locations</h2>
            <p>F Pestilli, M Carrasco</p>
        </li>
    </ul>
</main>

<script>

 function distanceBetweenElements(elementOne, elementTwo) {
    var div1rect = elementOne.getBoundingClientRect();
    var div2rect = elementTwo.getBoundingClientRect();

    // get div1's center point
    var div1x = div1rect.left + div1rect.width/2;
    var div1y = div1rect.top + div1rect.height/2;

    // get div2's center point
    var div2x = div2rect.left + div2rect.width/2;
    var div2y = div2rect.top + div2rect.height/2;

    // calculate the distance using the Pythagorean Theorem (a^2 + b^2 = c^2)
    var distanceSquared = Math.pow(div1x - div2x, 2) + Math.pow(div1y - div2y, 2);
    var distance = Math.sqrt(distanceSquared);
    return distance;
}

const pix = distanceBetweenElements(document.querySelector("li:first-child"), document.querySelector("li:last-child"));
var ready = (callback) => {
    if (document.readyState != "loading") callback();
    else document.addEventListener("DOMContentLoaded", callback);
}
ready(() => { 
    var container = document.querySelector(".timeline");;
    var items = document.querySelectorAll('.timeline-item');
    items.forEach(
        item => {
            let BCDATE = item.getAttribute("dt-date");
            var standardDate = new Date(BCDATE).getTime();
            item.setAttribute("data-event-date", standardDate);
        }
    )
  
    var ab = 0;
    Array.from(items).sort(function(a, b){
        a = parseFloat(a.getAttribute("data-event-date"));
        b = parseFloat(b.getAttribute("data-event-date"));
        return a == b ? 0 : a > b ? -1 : 1;
    }).forEach(list =>{
        ab++;
        list.classList.add(ab % 2 == 0 ? "right": "left");
        container.append(list);
    });   
});

let scroller = 0;
function Animate() {
    let heightTimelineBar = document.getElementById('_publications').scrollHeight;
    console.log("Firing event"+heightTimelineBar);
    let prop = document.querySelector(".timeline").style.getPropertyValue("--barHeight");
    scroller = scroller + 0.1;
    document.querySelector(".timeline").style.setProperty("--barHeight", heightTimelineBar+"px");
}
</script>
{{ partial "footer.html" .}}